/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

/* LIGHT AND DARK MODE VARIABLES */
:root {
    /* DARK MODE */
    --dark-bg-color: #0f0f0f;
    /* DARK MODE ACCENT */
    --dark-bg-accent-color: #84577c;
    /* LIGHT MODE */
    --light-bg-color: #fcfcfc;
    /* LIGHT MODE ACCENT */
    --light-bg-accent-color: #333644;
}

.night-day {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 45%;
}

.icons {
    position: relative;
    top: 13px;
    font-size: 20px;
    color: var(--light-bg-color);
}

/* LIGHT AND DARK MODE CIRCLES */
.dot {
    height: 50px;
    width: 50px;
    background-color: var(--light-bg-accent-color);
    border-radius: 50%;
    display: inline-block;
  }

/* BODY/GLOBALS */
body {
    font-family: 'Source Sans Pro', sans-serif;
    border: 20px solid var(--light-bg-accent-color);
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    background-color: var(--dark-bg-color);
}

/* MAIN/SECTIONS */
p {
    color: var(--light-bg-color);;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
    color: var(--light-bg-color);
}

.date {
    color: var(--dark-bg-accent-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.post {
    margin-bottom: 20px;
}

h2 {
    color: var(--light-bg-color);
    font-size: 2.0rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* FOOTER/DISCLAIMER */
footer {
    padding-top: 15px;
    text-align: center;
}

.disclaimer {
    font-size: 12px;
    opacity: 0.7;
}

.disclaimer a {
    color: inherit;
    text-decoration: none;
}