/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");

/* LIGHT MODE */
:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

/* DARK MODE */
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

/* MODE TOGGLE */
.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  top: 28px;
  left: 625px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* BODY/GLOBAL */
body {
  font-family: 'Source Sans Pro', sans-serif;
  border: 20px solid var(--bg-color);
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  background-color: var(--bg-color);
  transition: ease-in-out 0.3s;
}

/* MAIN/SECTION */
p {
  color: var(--font-color);
}

.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
  color: var(--font-color);
}

.date {
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.post {
  margin-bottom: 20px;
}

span {
  margin-bottom: 15px;
}

h2 {
  color: var(--font-color);
  font-size: 2.0rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.read-more-link {
  padding: 10px 0;
  color: var( --font-color);
  font-size: 14px;
  font-weight: bold;
}

.read-more-link:hover {
  opacity: 0.5;
}

/* POST PAGE */
.post-img {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

/* FOOTER/DISCLAIMER */
footer {
  padding-top: 15px;
  text-align: center;
}

.disclaimer {
  font-size: 12px;
  opacity: 0.7;
}

.disclaimer a,
.read-more-link a {
  color: inherit;
  text-decoration: none;
}

/* Media Query for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
  .theme-switch-wrapper {
    display: none !important;
  }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .theme-switch-wrapper {
    display: none !important;
  }
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .theme-switch-wrapper {
    display: none !important;
  }
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  .theme-switch-wrapper {
    display: none !important;
  }
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
  .theme-switch-wrapper {
    display: none !important;
  }
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
  .theme-switch-wrapper {
    display: none !important;
  }
}

/*# sourceMappingURL=styles.css.map */